<div>
    <form name="form" ng-submit="submit()">

        <div class="panel  panel_container">
            <div class="panel-header">Tipo de trámite</div>
            <div class="panel-body">
                <div layout="row" layout-align="center">
                    <md-radio-group ng-model="application.type">
                        <md-radio-button style="display: inline-block" value="1" class="md-primary">Equivalencia
                        </md-radio-button>
                        <md-radio-button style="display: inline-block;margin-left: 1em" class="md-primary" value="2">
                            Revalidación
                        </md-radio-button>
                    </md-radio-group>
                </div>

                <div layout="row" style="margin-top:1em">
                    <div flex="30" flex-offset="15" layout="column">
                        <md-input-container>
                            <label for="gender">Género:</label>
                            <md-select name="gender" id="gender" ng-model="application.gender"
                                       ng-change="genderChanged()"
                                       required
                                       ng-style="isGenderSelected('')?{'color':'#aaa'}:{'color':'#000'}">
                                <md-option value="1">Básica</md-option>
                                <md-option value="2">Media Superior</md-option>
                                <md-option value="3">Superior</md-option>
                            </md-select>
                            <ng-messages for="form.gender.$error">
                                <ng-message when="required">Campo requerido</ng-message>
                            </ng-messages>
                            <div class="md-errors-spacer"></div>
                        </md-input-container>
                    </div>
                    <div layout="column" flex="30" flex-offset="10">
                        <md-input-container>
                            <label>Especie:</label>
                            <md-select
                                    ng-style="isSubgenderSelected('')?{'color':'#aaa'}:{'color':'#000'}"
                                    name="subgender" id="subgender" ng-model="application.subgender" required>
                                <md-option value="1" ng-show="isGenderSelected(1)">Prescolar</md-option>
                                <md-option value="2" ng-show="isGenderSelected(1)">Primaria</md-option>
                                <md-option value="3" ng-show="isGenderSelected(1)">Secundaria</md-option>
                                <md-option value="4" ng-show="isGenderSelected(2)">Bachillerato General</md-option>
                                <md-option value="5" ng-show="isGenderSelected(2)">Bachillerato Tecnológico
                                </md-option>
                                <md-option value="6" ng-show="isGenderSelected(2)">Bachillerato Técnico Profesional
                                </md-option>
                                <md-option value="7" ng-show="isGenderSelected(2)">Bachillerato Tecnólogo
                                </md-option>
                                <md-option value="8" ng-show="isGenderSelected(2)">Técnico Superior Universitario
                                </md-option>
                                <md-option value="9" ng-show="isGenderSelected(3)">Licenciatura</md-option>
                                <md-option value="10" ng-show="isGenderSelected(3)">Especialidad</md-option>
                                <md-option value="11" ng-show="isGenderSelected(3)">Maestría</md-option>
                                <md-option value="12" ng-show="isGenderSelected(3)">Doctorado</md-option>
                            </md-select>
                            <ng-messages for="form.subgender.$error">
                                <ng-message when="required">Campo requerido</ng-message>
                            </ng-messages>
                            <div class="md-errors-spacer"></div>
                        </md-input-container>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel   panel_container">
            <div class="panel-header">Datos del solicitante</div>
            <div class="panel-body">
                <div layout="row" layout-align="center">
                    <div layout="column" flex="40">
                        <md-input-container>
                            <label for="lastname1">Apellido paterno:</label>
                            <input type="text" id="lastname1" name="lastname1" ng-model="application.lastname1"
                                   required>
                            <ng-messages for="form.lastname1.$error">
                                <ng-message when="required">Campo requerido</ng-message>
                            </ng-messages>
                        </md-input-container>

                        <md-input-container>
                            <label for="lastname2">Apellido materno:</label>
                            <input type="text" id="lastname2" name="lastname2" ng-model="application.lastname2" required>
                            <ng-messages for="form.lastname2.$error">
                                <ng-message when="required">Campo requerido</ng-message>
                            </ng-messages>
                        </md-input-container>

                        <md-input-container>
                            <label for="firstname">Nombre:</label>
                            <input type="text" id="firstname" name="firstname" ng-model="application.firstname"
                                   required>
                            <ng-messages for="form.firstname.$error">
                                <ng-message when="required">Campo requerido</ng-message>
                            </ng-messages>
                        </md-input-container>

                        <md-input-container>
                            <label for="email">Correo electrónico:</label>
                            <input type="email" id="email" name="email" ng-model="application.email" multiple required>
                            <ng-messages for="form.email.$error" role="alert">
                                <ng-message when="email,required">Email inválido</ng-message>
                            </ng-messages>
                        </md-input-container>

                        <md-input-container>
                            <label for="phone">Teléfono:</label>
                            <input type="text" id="phone" name="phone" ng-model="application.phone" required>
                            <ng-messages for="form.phone.$error">
                                <ng-message when="required">Campo requerido</ng-message>
                            </ng-messages>
                        </md-input-container>

                        <md-input-container>
                            <label for="sex">Género:</label>
                            <md-select name="sex" id="sex" ng-model="application.sex" required
                                       ng-style="sex==''?{'color':'#aaa'}:{'color':'#000'}">
                                <md-option value="m">Masculino</md-option>
                                <md-option value="f">Femenino</md-option>
                            </md-select>

                            <ng-messages for="form.sex.$error">
                                <ng-message when="required">Campo requerido</ng-message>
                            </ng-messages>
                            <div class="md-errors-spacer"></div>
                        </md-input-container>

                        <md-input-container>
                            <label for="birthdate">Fecha de nacimiento:</label>
                            <input type="text" id="birthdate" name="birthdate" ng-model="application.birthdate" required
                                   readonly>
                            <ng-messages for="form.birthdate.$error">
                                <ng-message when="required">Campo requerido</ng-message>
                            </ng-messages>
                        </md-input-container>


                    </div>
                    <div layout="column" flex="40" flex-offset="10">
                        <md-input-container>
                            <label for="country">Pais:</label>
                            <input type="text" id="country" name="country" ng-model="application.country" required>
                            <ng-messages for="form.country.$error">
                                <ng-message when="required">Campo requerido</ng-message>
                            </ng-messages>
                        </md-input-container>

                        <md-input-container><label for="state">Estado:</label>
                            <input type="text" id="state" name="state" ng-model="application.state" required>
                            <ng-messages for="form.state.$error">
                                <ng-message when="required">Campo requerido</ng-message>
                            </ng-messages>
                        </md-input-container>

                        <md-input-container>
                            <label for="city">Municipio:</label>
                            <input type="text" id="city" name="city" ng-model="application.city" required>
                            <ng-messages for="form.city.$error">
                                <ng-message when="required">Campo requerido</ng-message>
                            </ng-messages>
                        </md-input-container>

                        <md-input-container>
                            <label for="street">Calle:</label>
                            <input type="text" id="street" name="street" ng-model="application.street" required>
                            <ng-messages for="form.street.$error">
                                <ng-message when="required">Campo requerido</ng-message>
                            </ng-messages>
                        </md-input-container>

                        <md-input-container>
                            <label for="colony">Colonia:</label>
                            <input type="text" id="colony" name="colony" ng-model="application.colony" required>
                            <ng-messages for="form.colony.$error">
                                <ng-message when="required">Campo requerido</ng-message>
                            </ng-messages>
                        </md-input-container>

                        <md-input-container>
                            <label for="cp">C.P:</label>
                            <input type="text" id="cp" name="cp" ng-model="application.cp" required>
                            <ng-messages for="form.cp.$error">
                                <ng-message when="required">Campo requerido</ng-message>
                            </ng-messages>
                        </md-input-container>

                        <md-input-container>
                            <label for="number">Número:</label>
                            <input type="text" id="number" name="number" ng-model="application.number" required>
                            <ng-messages for="form.number.$error">
                                <ng-message when="required">Campo requerido</ng-message>
                            </ng-messages>
                        </md-input-container>
                    </div>
                </div>
            </div>
        </div>
    </form>


    <div class="panel  panel_container">
        <div class="panel-header">Documentos</div>
        <div class="panel-body">
            <div class="card-body" style="padding:4em">
                <md-grid-list  md-cols="3" md-row-height="6:5" md-gutter="4em">

                    <md-grid-tile md-colspan="1" md-rowspan="1">
                        <dropfile layout="column" class="dropfile" ng-model="application.acta" file-name="Acta de Nacimiento" on-destroy="deleteDoc('acta')" deletable="true"></dropfile>
                    </md-grid-tile>
                    <md-grid-tile md-colspan="1" md-rowspan="1">
                        <dropfile layout="column" class="dropfile" ng-model="application.curp" file-name="CURP" on-destroy="deleteDoc('curp')" deletable="true"></dropfile>
                    </md-grid-tile>
                    <md-grid-tile md-colspan="1" md-rowspan="1">
                        <dropfile layout="column" class="dropfile" ng-model="application.cert" file-name="Certificado" on-destroy="deleteDoc('cert')" deletable="true"></dropfile>
                    </md-grid-tile>
                </md-grid-list>
            </div>

            <div layout="row" layout-align="center" style="margin-bottom: 3em">
                <md-button ng-click="submit()" ng-disabled="applicationIncomplete()" class="md-raised md-primary">Subir
                    solicitud
                </md-button>
            </div>
        </div>

        <input data-prop="hola" style="display: none" id="input-file" type="file">