<div class="sidebar-container">
	<ul class="sidebar-nav">
		<li  class="sidebar-header" style="display:inline-block;">
			<div class="sidebar-nav-header tree-toggler">
				<img src="./resources/icons/ic_menu_application.png">
				<label>Solicitudes</label>
			</div>
			<ul class="sidebar-nav tree transition">
				<li ng-click="setTab(1); go('/applications/new')" ng-class="isTabSelected(1)?'sidebar-item-selected':'sidebar-item'">
					<i style="font-size:1.5em; margin-top: .1em; margin-left: .7em;margin-right: 1em;" class="fa fa-plus-circle"></i>
					<p>Nuevo</p>
				</li>
				<li ng-click="setTab(2); go('/applications/search')" ng-class="isTabSelected(2)?'sidebar-item-selected':'sidebar-item'">
					<img src="./resources/icons/ic_menu_search.png">
					<p>Buscar</p>
				</li>
			</ul>
		</li>
		<li class="divider"></li>
		<li class="sidebar-header">
			<div class="sidebar-nav-header tree-toggler">
				<img src="./resources/icons/ic_menu_reports.png">
				<label>Reportes</label>
			</div>
			<ul class="sidebar-nav tree transition">
				<li ng-click="setTab(8)" ng-class="isTabSelected(8)?'sidebar-item-selected':'sidebar-item'">
					<img src="./resources/icons/ic_menu_reports.png">
					<p>Respuesta</p>
				</li>
				<li ng-click="setTab(9)" ng-class="isTabSelected(9)?'sidebar-item-selected':'sidebar-item'">
					<img src="./resources/icons/ic_menu_reports.png">
					<p>Aplicaciones</p>
				</li>
			</ul>
		</li>
		<li class="sidebar-header">
			<div class="sidebar-nav-header tree-toggler">
				<img src="./resources/icons/ic_menu_configuration.png">
				<label class="tree-toggler">Configuración</label>
			</div>
			<ul class="sidebar-nav tree transition">
				<li ng-click="setTab(6)" ng-class="isTabSelected(6)?'sidebar-item-selected':'sidebar-item'">
					<img src="./resources/icons/ic_menu_signature.png">
					<p>Contraseña</p>
				</li>
				<li ng-click="setTab(7)" ng-class="isTabSelected(7)?'sidebar-item-selected':'sidebar-item'">
					<img src="./resources/icons/ic_menu_password.png">
					<p>Firma electronica</p>
				</li>
			</ul>
		</li>
		<li class="divider"></li>
		<li ng-click="logout()" class="sidebar-header">
			<i style="font-size:1.5em; margin-top: .7em; margin-left: .9em;" class="fa fa-sign-out"></i>
			<label>Salir</label>
		</li>
	</ul>
</div>