<md-card>
    <md-table-container>
        <table md-table ng-model="selected" md-progress="promise">
            <thead md-head>
            <tr md-row>
                <th md-column>ID</th>
                <th md-column>Nombre</th>
                <th md-column>Status</th>
                <th md-column>Tipo</th>
                <th md-column>Fecha</th>
                <th md-column>Detalles</th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row ng-repeat="app in applications">
                <td md-cell>{{app.userID}}</td>
                <td md-cell>{{app.firstname+' '+app.lastname1+' '+app.lastname2}}</td>
                <td md-cell>{{getStatus(app.applicationStatus)}}</td>
                <td md-cell>{{app.type}}</td>
                <td md-cell>{{formatDate(app.uploadTimestamp)}}</td>
                <td md-cell>

                    <md-icon ng-click="openDetails(app)" md-svg-icon="resources/icons/ic_open_in_new.svg" style="color:#dc4931; cursor:pointer" aria-hidden="true">
                    </md-icon>

            </tr>
            </tbody>
        </table>
    </md-table-container>

</md-card>

